<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Tech News</title>
    {{! Note the css file path }}
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Just Tech News</a>
        </h1>
        <nav>
          {{! Not here to lead to another page, just to destroy the current session }}
          <button id="logout" class="btn-no-style">logout</button>
          <a href="/login">login</a>
        </nav>
      </header>
      <main>
        {{! This is where the other .handlebars files are passed in }}
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

    {{! JS Logout }}
    <script src="/javascript/logout.js"></script>
  </body>

</html>