<ol class="post-list">
  {{! We are making it explicitly clear but handlebars is smart enough to know that its working with an object }}
  {{#each posts as |post|}}
    <li>
      {{!-- post-info is the name of the partial and post is the name of the object being passed in --}}
        {{> post-info}}
    </li>
  {{/each}}
</ol>